<div class="container-fluid container-fluid-custom">
    <main>
        <div class ="row py-md-5 text center justify-content-center" >
            <div class ="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class = "display-2-fw-bold mb -4 position-relative text-center">
                   WRITE WHATEVER COMES YOUR MIND TO THE PUBLIC
                </h1>
                <p class="fs -4 mb -4 text-center">
                    Notes is beyond just note taking it's an art in written form. You can be your own artist by just taking Notes

                </p>
                <a href ="/auth/googleauth" class = "btn btn-primary center">
                    Get Started for Free with Notes
                </a>
            </div>
        </div>
    </main>
</div>